# 1) Import the necessary packages

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set(color_codes=True)
from collections import Counter,namedtuple,defaultdict,OrderedDict
import warnings
warnings.filterwarnings('ignore')

from numpy import std
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from matplotlib import pyplot

# 2) Loading the Admission Table

In [5]:
data_AdmissionsCorePopulatedTable=pd.read_csv("/content/drive/My Drive/Colab Notebooks/AdmissionsCorePopulatedTable.txt",sep='\t')
data_AdmissionsCorePopulatedTable.head(10)

                              PatientID  ...         AdmissionEndDate
0  9380F9E3-1927-42F3-9731-03A74D4E4C6B  ...  2011-03-28 01:57:56.467
1  0A89658C-C739-45CA-9BF1-CBDDDFB922C0  ...  1974-02-16 21:04:43.333
2  0A89658C-C739-45CA-9BF1-CBDDDFB922C0  ...  1991-05-29 12:30:08.737
3  0A89658C-C739-45CA-9BF1-CBDDDFB922C0  ...  1995-02-28 16:45:04.407
4  0A89658C-C739-45CA-9BF1-CBDDDFB922C0  ...  2005-04-04 04:04:14.160
5  0A89658C-C739-45CA-9BF1-CBDDDFB922C0  ...  2008-04-16 03:22:35.737
6  EB1C36B1-0697-4145-95EE-0B0C44943339  ...  1995-12-17 22:59:46.223
7  EB1C36B1-0697-4145-95EE-0B0C44943339  ...  2001-08-16 02:35:48.323
8  EB1C36B1-0697-4145-95EE-0B0C44943339  ...  2009-12-01 06:49:13.053
9  F5F37898-D271-4D68-9C0E-18B1184411C6  ...  1989-03-19 07:04:55.640

[10 rows x 4 columns]

In [6]:
data_AdmissionsCorePopulatedTable['AdmissionEndDate']=pd.to_datetime(data_AdmissionsCorePopulatedTable['AdmissionEndDate']).dt.date

In [7]:
data_AdmissionsCorePopulatedTable['AdmissionStartDate']=pd.to_datetime(data_AdmissionsCorePopulatedTable['AdmissionStartDate']).dt.date

In [8]:
data_AdmissionsCorePopulatedTable.head(5)

                              PatientID  ...  AdmissionEndDate
0  9380F9E3-1927-42F3-9731-03A74D4E4C6B  ...        2011-03-28
1  0A89658C-C739-45CA-9BF1-CBDDDFB922C0  ...        1974-02-16
2  0A89658C-C739-45CA-9BF1-CBDDDFB922C0  ...        1991-05-29
3  0A89658C-C739-45CA-9BF1-CBDDDFB922C0  ...        1995-02-28
4  0A89658C-C739-45CA-9BF1-CBDDDFB922C0  ...        2005-04-04

[5 rows x 4 columns]

In [9]:
data_AdmissionsCorePopulatedTable['AdmissionDuration']=(data_AdmissionsCorePopulatedTable['AdmissionEndDate']-data_AdmissionsCorePopulatedTable['AdmissionStartDate'])

In [10]:
data_AdmissionsCorePopulatedTable.head(10)

                              PatientID  ...  AdmissionDuration
0  9380F9E3-1927-42F3-9731-03A74D4E4C6B  ...             5 days
1  0A89658C-C739-45CA-9BF1-CBDDDFB922C0  ...             6 days
2  0A89658C-C739-45CA-9BF1-CBDDDFB922C0  ...             7 days
3  0A89658C-C739-45CA-9BF1-CBDDDFB922C0  ...             2 days
4  0A89658C-C739-45CA-9BF1-CBDDDFB922C0  ...            18 days
5  0A89658C-C739-45CA-9BF1-CBDDDFB922C0  ...             4 days
6  EB1C36B1-0697-4145-95EE-0B0C44943339  ...            13 days
7  EB1C36B1-0697-4145-95EE-0B0C44943339  ...            14 days
8  EB1C36B1-0697-4145-95EE-0B0C44943339  ...            16 days
9  F5F37898-D271-4D68-9C0E-18B1184411C6  ...             4 days

[10 rows x 5 columns]

In [11]:
data_AdmissionsCorePopulatedTable.shape

(361760, 5)

# 3) Remove the duplicate rows

In [12]:
data_AdmissionsCorePopulatedTable.duplicated(subset=["PatientID","AdmissionID","AdmissionDuration"],keep='first')

0         False
1         False
2         False
3         False
4         False
          ...
361755    False
361756    False
361757    False
361758    False
361759    False
Length: 361760, dtype: bool

In [13]:
data_AdmissionsCorePopulatedTable.PatientID.count()

361760

In [14]:
data_AdmissionsCorePopulatedTable=data_AdmissionsCorePopulatedTable.drop_duplicates(subset=["PatientID","AdmissionID","AdmissionDuration"],keep='first')

In [15]:
data_AdmissionsCorePopulatedTable.PatientID.count()

361760

In [16]:
data_AdmissionsCorePopulatedTable=data_AdmissionsCorePopulatedTable.drop(columns=['AdmissionStartDate','AdmissionEndDate'],axis=1)
data_AdmissionsCorePopulatedTable.head()

                              PatientID  AdmissionID AdmissionDuration
0  9380F9E3-1927-42F3-9731-03A74D4E4C6B            5            5 days
1  0A89658C-C739-45CA-9BF1-CBDDDFB922C0            1            6 days
2  0A89658C-C739-45CA-9BF1-CBDDDFB922C0            2            7 days
3  0A89658C-C739-45CA-9BF1-CBDDDFB922C0            3            2 days
4  0A89658C-C739-45CA-9BF1-CBDDDFB922C0            4           18 days

In [17]:
data_AdmissionsCorePopulatedTable.isna().sum().to_frame().T

   PatientID  AdmissionID  AdmissionDuration
0          0            0                  0

# 5) Loading the Admission Diagnosis Table

In [18]:
data_AdmissionsDiagnosesCorePopulatedTable=pd.read_csv("/content/drive/My Drive/Colab Notebooks/AdmissionsDiagnosesCorePopulatedTable.txt",sep='\t')
data_AdmissionsDiagnosesCorePopulatedTable.head(6)

                              PatientID  ...                        PrimaryDiagnosisDescription
0  54C6E968-45B3-46B1-A64F-2CE3124F2A65  ...                       Expressive language disorder
1  54C6E968-45B3-46B1-A64F-2CE3124F2A65  ...   Acute idiopathic pulmonary hemorrhage in infants
2  54C6E968-45B3-46B1-A64F-2CE3124F2A65  ...             Nonrheumatic tricuspid valve disorders
3  9DD23357-9BEB-43E4-802D-1AB7ACDD4A3A  ...                Localized vascularization of cornea
4  9DD23357-9BEB-43E4-802D-1AB7ACDD4A3A  ...  Rheumatoid lung disease with rheumatoid arthri...
5  9DD23357-9BEB-43E4-802D-1AB7ACDD4A3A  ...  Rheumatoid arthritis without rheumatoid factor...

[6 rows x 4 columns]

# 6) Removing the duplicate rows

In [19]:
data_AdmissionsDiagnosesCorePopulatedTable.duplicated(subset=["PatientID","AdmissionID","PrimaryDiagnosisCode","PrimaryDiagnosisDescription"],keep='first')

0         False
1         False
2         False
3         False
4         False
          ...
361755    False
361756    False
361757    False
361758    False
361759    False
Length: 361760, dtype: bool

In [20]:
data_AdmissionsDiagnosesCorePopulatedTable=data_AdmissionsDiagnosesCorePopulatedTable.drop_duplicates(subset=["PatientID","AdmissionID","PrimaryDiagnosisCode","PrimaryDiagnosisDescription"],keep='first')

In [21]:
data_AdmissionsDiagnosesCorePopulatedTable.PatientID.count()

361760

In [22]:
data_AdmissionsDiagnosesCorePopulatedTable.isna().sum().to_frame().T

   PatientID  AdmissionID  PrimaryDiagnosisCode  PrimaryDiagnosisDescription
0          0            0                     0                            0

In [23]:
data_AdmissionsDiagnosesCorePopulatedTable.head(10)

                              PatientID  ...                        PrimaryDiagnosisDescription
0  54C6E968-45B3-46B1-A64F-2CE3124F2A65  ...                       Expressive language disorder
1  54C6E968-45B3-46B1-A64F-2CE3124F2A65  ...   Acute idiopathic pulmonary hemorrhage in infants
2  54C6E968-45B3-46B1-A64F-2CE3124F2A65  ...             Nonrheumatic tricuspid valve disorders
3  9DD23357-9BEB-43E4-802D-1AB7ACDD4A3A  ...                Localized vascularization of cornea
4  9DD23357-9BEB-43E4-802D-1AB7ACDD4A3A  ...  Rheumatoid lung disease with rheumatoid arthri...
5  9DD23357-9BEB-43E4-802D-1AB7ACDD4A3A  ...  Rheumatoid arthritis without rheumatoid factor...
6  CE969DDB-A168-49C4-9D48-65CFAE878B5F  ...                              Reiter's disease, hip
7  CE969DDB-A168-49C4-9D48-65CFAE878B5F  ...  Malignant neoplasm of short bones of right low...
8  CE969DDB-A168-49C4-9D48-65CFAE878B5F  ...  Renal failure following (induced) termination ...
9  719278F5-305F-432D-BE0E-76ECE46FD6EA  ...  Metabolic disorder following incomplete sponta...

[10 rows x 4 columns]

# 7) Merging Admission Core table and Admission Diagnosis table to generate Admission Group

In [24]:
data_AdmissionsCorePopulatedTable.dtypes

PatientID                     object
AdmissionID                    int64
AdmissionDuration    timedelta64[ns]
dtype: object

In [25]:
data_AdmissionsDiagnosesCorePopulatedTable.dtypes

PatientID                      object
AdmissionID                     int64
PrimaryDiagnosisCode           object
PrimaryDiagnosisDescription    object
dtype: object

In [26]:
data_AdmissionsCorePopulatedTable.sort_values(by=['PatientID','AdmissionID'])

                                   PatientID  AdmissionID AdmissionDuration
320049  0000585C-5C9D-49BD-8F9E-41345464F832            1           10 days
320050  0000585C-5C9D-49BD-8F9E-41345464F832            2           13 days
125111  00005E17-D776-4260-8566-3BF18422A777            1            7 days
125112  00005E17-D776-4260-8566-3BF18422A777            2            5 days
32930   00008B98-12EC-484A-A730-788707EB72C8            1           13 days
...                                      ...          ...               ...
247473  FFFF554A-83B7-4816-A5D1-B6BBA5A94DCB            2            8 days
247474  FFFF554A-83B7-4816-A5D1-B6BBA5A94DCB            3           13 days
247475  FFFF554A-83B7-4816-A5D1-B6BBA5A94DCB            4            2 days
140311  FFFFA309-DD78-4DEE-8082-921B734062C2            1           11 days
140312  FFFFA309-DD78-4DEE-8082-921B734062C2            2            5 days

[361760 rows x 3 columns]

In [27]:
data_AdmissionsDiagnosesCorePopulatedTable.sort_values(by=['PatientID','AdmissionID'],ascending=True)

                                   PatientID  ...                        PrimaryDiagnosisDescription
320049  0000585C-5C9D-49BD-8F9E-41345464F832  ...  Metabolic disorder following incomplete sponta...
320050  0000585C-5C9D-49BD-8F9E-41345464F832  ...  Protozoal diseases complicating pregnancy, sec...
125111  00005E17-D776-4260-8566-3BF18422A777  ...                  Malignant neoplasm of hard palate
125112  00005E17-D776-4260-8566-3BF18422A777  ...             Malignant neoplasm of border of tongue
32930   00008B98-12EC-484A-A730-788707EB72C8  ...      Chronic myelomonocytic leukemia, in remission
...                                      ...  ...                                                ...
247473  FFFF554A-83B7-4816-A5D1-B6BBA5A94DCB  ...  Systemic disorders of connective tissue in dis...
247474  FFFF554A-83B7-4816-A5D1-B6BBA5A94DCB  ...          Chronic gout due to renal impairment, hip
247475  FFFF554A-83B7-4816-A5D1-B6BBA5A94DCB  ...                     Rheumatoid bursitis, left knee
140311  FFFFA309-DD78-4DEE-8082-921B734062C2  ...  Drug or chemical induced diabetes mellitus wit...
140312  FFFFA309-DD78-4DEE-8082-921B734062C2  ...  Malignant neoplasm of peripheral nerves of pelvis

[361760 rows x 4 columns]

In [28]:
data_Admissions_Core_Diagnoses_Merge=data_AdmissionsCorePopulatedTable.merge(data_AdmissionsDiagnosesCorePopulatedTable,how='outer',on=['PatientID','AdmissionID'])
data_Admissions_Core_Diagnoses_Merge.head()

                              PatientID  ...                        PrimaryDiagnosisDescription
0  9380F9E3-1927-42F3-9731-03A74D4E4C6B  ...  Hydroxyapatite deposition disease, ankle and foot
1  0A89658C-C739-45CA-9BF1-CBDDDFB922C0  ...  Malignant neoplasm of posterior wall of hypoph...
2  0A89658C-C739-45CA-9BF1-CBDDDFB922C0  ...                                Alzheimer's disease
3  0A89658C-C739-45CA-9BF1-CBDDDFB922C0  ...  Otitis media in diseases classified elsewhere,...
4  0A89658C-C739-45CA-9BF1-CBDDDFB922C0  ...          Cervical disc disorder with radiculopathy

[5 rows x 5 columns]

In [29]:
data_Admissions_Core_Diagnoses_Merge.head(5)

                              PatientID  ...                        PrimaryDiagnosisDescription
0  9380F9E3-1927-42F3-9731-03A74D4E4C6B  ...  Hydroxyapatite deposition disease, ankle and foot
1  0A89658C-C739-45CA-9BF1-CBDDDFB922C0  ...  Malignant neoplasm of posterior wall of hypoph...
2  0A89658C-C739-45CA-9BF1-CBDDDFB922C0  ...                                Alzheimer's disease
3  0A89658C-C739-45CA-9BF1-CBDDDFB922C0  ...  Otitis media in diseases classified elsewhere,...
4  0A89658C-C739-45CA-9BF1-CBDDDFB922C0  ...          Cervical disc disorder with radiculopathy

[5 rows x 5 columns]

In [30]:
data_Admissions_Core_Diagnoses_Merge.isna().sum().to_frame().T

   PatientID  AdmissionID  ...  PrimaryDiagnosisCode  PrimaryDiagnosisDescription
0          0            0  ...                     0                            0

[1 rows x 5 columns]

# 8) Loading the Patient Table

In [31]:
data_PatientCorePopulatedTable=pd.read_csv("/content/drive/My Drive/Colab Notebooks/PatientCorePopulatedTable.txt",sep="\t")
data_PatientCorePopulatedTable.head(20)

                               PatientID  ... PatientPopulationPercentageBelowPoverty
0   F7CF0FE9-AFCD-49EF-BFB3-E42302FFA0D3  ...                                   13.70
1   C3935FBC-DBBA-4844-BBE4-A175FA508454  ...                                   15.73
2   1CA33F6F-2E84-4C99-AF6A-D40F7B4DB27F  ...                                    7.09
3   81606388-2471-42A4-A6F1-1868AE25CFC3  ...                                    2.17
4   E3120DE9-3361-40CF-A618-265C769E75A2  ...                                   18.67
5   5C043111-3F94-44BC-A889-97D44ACCC7F6  ...                                    2.57
6   0A10A379-05B1-438B-84A0-18B4D1AE2615  ...                                   14.26
7   4BE9DA70-090C-45D9-BB34-C9FE07883BD9  ...                                   11.03
8   DED90E65-5B8E-497C-9A17-0679C1DA3B6D  ...                                   11.86
9   67744717-0461-45C5-B85A-D7355EFAF6A1  ...                                    5.35
10  BCEA6D68-6998-453F-B630-1E373B754660  ...                                   19.27
11  ABDB8CCC-E9C2-4BC2-B370-822EF1182256  ...                                   95.32
12  0C41FC5D-B379-425D-94F3-F79EC4421D35  ...                                   14.29
13  54A126A4-7314-45EB-ADC3-B9CAED73A9AC  ...                                   13.09
14  69329A18-3C46-4121-A1B1-1A8F1CA481EB  ...                                   16.55
15  FB32DDCD-3B9B-4369-9367-C83A9DF567BA  ...                                   17.74
16  D26DF18A-684F-4708-9BA3-75B1D3D49F06  ...                                    4.30
17  DEA63F5A-2AE9-415E-B0F4-2D07B2C322FE  ...                                   14.07
18  390102E7-2DBD-47C2-BF8D-F37C04F67B48  ...                                   18.18
19  EC6FCAE2-6F88-4762-9B4B-71AACFF96674  ...                                   10.95

[20 rows x 7 columns]

# 9) Removing the duplicate rows

In [32]:
data_PatientCorePopulatedTable.duplicated(subset=['PatientID','PatientGender','PatientMaritalStatus','PatientDateOfBirth'],keep='first')

0        False
1        False
2        False
3        False
4        False
         ...
99995    False
99996    False
99997    False
99998    False
99999    False
Length: 100000, dtype: bool

In [33]:
data_PatientCorePopulatedTable.PatientID.count()

100000

# 10) Dropping the columns which are not required

In [34]:
data_PatientCorePopulatedTable=data_PatientCorePopulatedTable.drop(columns=['PatientLanguage','PatientPopulationPercentageBelowPoverty'],axis=1)
data_PatientCorePopulatedTable.head()

                              PatientID  ... PatientMaritalStatus
0  F7CF0FE9-AFCD-49EF-BFB3-E42302FFA0D3  ...               Single
1  C3935FBC-DBBA-4844-BBE4-A175FA508454  ...               Single
2  1CA33F6F-2E84-4C99-AF6A-D40F7B4DB27F  ...              Married
3  81606388-2471-42A4-A6F1-1868AE25CFC3  ...            Separated
4  E3120DE9-3361-40CF-A618-265C769E75A2  ...              Married

[5 rows x 5 columns]

In [35]:
data_PatientCorePopulatedTable.PatientID.count()

100000

In [36]:
data_PatientCorePopulatedTable.isna().sum().to_frame().T

   PatientID  PatientGender  ...  PatientRace  PatientMaritalStatus
0          0              0  ...            0                     0

[1 rows x 5 columns]

In [37]:
data_PatientCorePopulatedTable.sort_values(by=['PatientID'],ascending=True)

                                  PatientID  ... PatientMaritalStatus
88450  0000585C-5C9D-49BD-8F9E-41345464F832  ...               Single
34632  00005E17-D776-4260-8566-3BF18422A777  ...              Unknown
9238   00008B98-12EC-484A-A730-788707EB72C8  ...             Divorced
78349  0001452D-730F-45E4-A896-3F95DB98849D  ...              Married
64581  0001E6FA-A3D7-4569-A0B3-7E9865EFF6B6  ...               Single
...                                     ...  ...                  ...
79794  FFFDE252-E3DC-4909-AEAD-EFC88A90EECE  ...               Single
12007  FFFE2CE0-297E-4134-8821-D6AA79468A9E  ...              Married
76666  FFFE58EA-FE3E-4631-85F7-CFAB1FCAEE0A  ...              Married
68370  FFFF554A-83B7-4816-A5D1-B6BBA5A94DCB  ...               Single
38859  FFFFA309-DD78-4DEE-8082-921B734062C2  ...              Married

[100000 rows x 5 columns]

# 11) Merging Patient table with Admission group to generate Patient group

In [38]:
data_Admissions_Core_Diagnoses_Merge['PatientID'].count()

361760

In [39]:
data_PatientCorePopulatedTable['PatientID'].count()

100000

In [40]:
data_Patients_Core_Admission_Core_Diagnoses_Merge=data_PatientCorePopulatedTable.merge(data_Admissions_Core_Diagnoses_Merge,indicator=False,how='outer')
data_Patients_Core_Admission_Core_Diagnoses_Merge.shape

(361760, 9)

In [41]:
data_PatientCorePopulatedTable.isna().sum().to_frame().T

   PatientID  PatientGender  ...  PatientRace  PatientMaritalStatus
0          0              0  ...            0                     0

[1 rows x 5 columns]

In [42]:
data_Patients_Core_Admission_Core_Diagnoses_Merge.head(20)

                               PatientID  ...                        PrimaryDiagnosisDescription
0   F7CF0FE9-AFCD-49EF-BFB3-E42302FFA0D3  ...  Pre-existing hypertensive heart disease compli...
1   F7CF0FE9-AFCD-49EF-BFB3-E42302FFA0D3  ...                   Disorders of fructose metabolism
2   F7CF0FE9-AFCD-49EF-BFB3-E42302FFA0D3  ...           Acute lymphoblastic leukemia, in relapse
3   C3935FBC-DBBA-4844-BBE4-A175FA508454  ...                 Gout due to renal impairment, hand
4   C3935FBC-DBBA-4844-BBE4-A175FA508454  ...  Conversion disorder with motor symptom or deficit
5   C3935FBC-DBBA-4844-BBE4-A175FA508454  ...  Endocarditis and heart valve disorders in dise...
6   C3935FBC-DBBA-4844-BBE4-A175FA508454  ...  Acute myeloblastic leukemia, not having achiev...
7   C3935FBC-DBBA-4844-BBE4-A175FA508454  ...  Diseases of the digestive system complicating ...
8   1CA33F6F-2E84-4C99-AF6A-D40F7B4DB27F  ...  Multiple myeloma and malignant plasma cell neo...
9   1CA33F6F-2E84-4C99-AF6A-D40F7B4DB27F  ...                           Brief psychotic disorder
10  1CA33F6F-2E84-4C99-AF6A-D40F7B4DB27F  ...  Diabetes mellitus due to underlying condition ...
11  81606388-2471-42A4-A6F1-1868AE25CFC3  ...     Spondylopathy in diseases classified elsewhere
12  E3120DE9-3361-40CF-A618-265C769E75A2  ...         Cataract with neovascularization, left eye
13  E3120DE9-3361-40CF-A618-265C769E75A2  ...  Atherosclerosis of autologous artery coronary ...
14  5C043111-3F94-44BC-A889-97D44ACCC7F6  ...  Encounter for screening for malignant neoplasm...
15  5C043111-3F94-44BC-A889-97D44ACCC7F6  ...               Disorder of ligament, right shoulder
16  5C043111-3F94-44BC-A889-97D44ACCC7F6  ...   Chronic gout due to renal impairment, left elbow
17  5C043111-3F94-44BC-A889-97D44ACCC7F6  ...  Neoplasm of uncertain behavior of left renal p...
18  0A10A379-05B1-438B-84A0-18B4D1AE2615  ...  Osteitis deformans in neoplastic diseases, lef...
19  4BE9DA70-090C-45D9-BB34-C9FE07883BD9  ...                     Benign neoplasm of conjunctiva

[20 rows x 9 columns]

In [43]:
data_Patients_Core_Admission_Core_Diagnoses_Merge.PatientID.count()

361760

In [44]:
data_Patients_Core_Admission_Core_Diagnoses_Merge.isna().sum().to_frame().T

   PatientID  PatientGender  ...  PrimaryDiagnosisCode  PrimaryDiagnosisDescription
0          0              0  ...                     0                            0

[1 rows x 9 columns]

# 12) Loading the Labs Table

In [45]:
import random

datafile='/content/drive/My Drive/Colab Notebooks/LabsCorePopulatedTable.txt'
n=sum(1 for line in open(datafile))-1
s=n//10
skip=sorted(random.sample(range(1, n+1), n-s))
data_LabsCorePopulatedTable=pd.read_csv(datafile,sep='\t',skiprows=skip)
data_LabsCorePopulatedTable.head()

                              PatientID  ...                    LabDateTime
0  BF7165BC-CCD9-4CE4-944F-E3C9786B7BF3  ...  1974-01-11 03:14:30.127000000
1  BF7165BC-CCD9-4CE4-944F-E3C9786B7BF3  ...  1974-01-12 16:08:10.467000000
2  BF7165BC-CCD9-4CE4-944F-E3C9786B7BF3  ...  1974-01-12 14:27:22.540000000
3  BF7165BC-CCD9-4CE4-944F-E3C9786B7BF3  ...  1974-01-13 17:13:39.773000000
4  BF7165BC-CCD9-4CE4-944F-E3C9786B7BF3  ...  1974-01-13 11:21:17.480000000

[5 rows x 6 columns]

In [46]:
data_LabsCorePopulatedTable.PatientID.count()

10753538

In [47]:
data_LabsCorePopulatedTable.isna().sum().to_frame().T

   PatientID  AdmissionID  LabName  LabValue  LabUnits  LabDateTime
0          0            0        0         0         0            0

In [48]:
data_LabsCorePopulatedTable=data_LabsCorePopulatedTable.drop(columns=['LabUnits','LabDateTime'],axis=1)
data_LabsCorePopulatedTable.head()

                              PatientID  ...  LabValue
0  BF7165BC-CCD9-4CE4-944F-E3C9786B7BF3  ...       0.9
1  BF7165BC-CCD9-4CE4-944F-E3C9786B7BF3  ...      20.9
2  BF7165BC-CCD9-4CE4-944F-E3C9786B7BF3  ...       5.1
3  BF7165BC-CCD9-4CE4-944F-E3C9786B7BF3  ...     112.8
4  BF7165BC-CCD9-4CE4-944F-E3C9786B7BF3  ...       0.8

[5 rows x 4 columns]

In [49]:
Counter(data_LabsCorePopulatedTable.LabName)

Counter({'CBC: ABSOLUTE LYMPHOCYTES': 307599,
         'CBC: ABSOLUTE NEUTROPHILS': 306592,
         'CBC: BASOPHILS': 307510,
         'CBC: EOSINOPHILS': 307149,
         'CBC: HEMATOCRIT': 306877,
         'CBC: HEMOGLOBIN': 307628,
         'CBC: LYMPHOCYTES': 306422,
         'CBC: MCH': 307730,
         'CBC: MCHC': 307471,
         'CBC: MEAN CORPUSCULAR VOLUME': 307307,
         'CBC: MONOCYTES': 307843,
         'CBC: NEUTROPHILS': 306445,
         'CBC: PLATELET COUNT': 306042,
         'CBC: RDW': 307153,
         'CBC: RED BLOOD CELL COUNT': 307536,
         'CBC: WHITE BLOOD CELL COUNT': 308012,
         'METABOLIC: ALBUMIN': 306962,
         'METABOLIC: ALK PHOS': 306567,
         'METABOLIC: ALT/SGPT': 307882,
         'METABOLIC: ANION GAP': 306335,
         'METABOLIC: AST/SGOT': 307813,
         'METABOLIC: BILI TOTAL': 306741,
         'METABOLIC: BUN': 307183,
         'METABOLIC: CALCIUM': 306921,
         'METABOLIC: CARBON DIOXIDE': 307909,
         'METABOLIC: CHLORIDE': 306575,
         'METABOLIC: CREATININE': 307200,
         'METABOLIC: GLUCOSE': 306803,
         'METABOLIC: POTASSIUM': 307186,
         'METABOLIC: SODIUM': 307863,
         'METABOLIC: TOTAL PROTEIN': 308265,
         'URINALYSIS: PH': 307842,
         'URINALYSIS: RED BLOOD CELLS': 307060,
         'URINALYSIS: SPECIFIC GRAVITY': 307485,
         'URINALYSIS: WHITE BLOOD CELLS': 307630})